.searchInput {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 1.2em;
    outline: 2px solid white;
}

.searchInput:focus {
    border: 3px solid;
}

.searchHeader {
    padding: 14px;
    width: 100%;
    background: #4a9ec1;
    position: sticky;
    top: -1px; 
     position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    height: 75px;
}

.search-icon {
    position: absolute;
    right: 0;
    padding: 9px 15px;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    position: absolute;
    left: 0;
    right: 0;
    transition: left .2s ease-in;
}

.searchHeader > form {
    position: absolute;
    left: 0;
    right: 0;
}

.searchHeader  a {
    position: absolute;
    left: 0;
}

.fixedSearchForm  form {
    left: 105px;
}

.searchHeaderDiv {
    position: relative;
}
/* .fixedSearchForm  a {
    /* position: absolute;
    left: 0; 
} */