.scrollPaginationContainer {
    display: flex;
    gap: 20px;
}

.scrollColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
  
  .gif-image {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 5%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    cursor: pointer;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }

  .gif-image:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    transform: scale(1.01);
  }
  