.search-input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 1.2em;
}

.search-input:focus {
    border: 2px solid;
}


.search-icon {
    position: absolute;
    right: 0;
    padding: 9px 15px;
}

.searchTermLabel {
    font-size: 3em;
    font-weight: 700;
}

.loadingGif {
    object-fit: contain;
    width: 100%;
    height: 137px;
}