.trendingItem {
    padding: 0 10px;
    cursor: none;
    pointer-events: none;
}

.firstActiveCarousel {
    padding-left: 0;
}
.lastActiveCarousel {
    padding-right: 0;
}

.carouselDiv {
    display: flex;
    transition: transform .50s ease-out,-webkit-transform .50s ease-out;
}

.carouselNavBtn {
    font-size: 27px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    transform: translate(0px, -50%);
    cursor: pointer;
    z-index: 5;
    font-family: monospace;
    color: rgb(144 145 145);
}
.carouselNavBtn:hover {
    color: rgb(55, 58, 60);
}

.carouselLeftBtn {
    left: -30px;
}
.carouselRightBtn {
    right: -30px;
}

.trendingSearchLabel {
    word-break: break-all;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.trendingSearchLabelDiv {
    height: 30px;
    overflow: hidden;
}

.carousel {
    position: relative;
}
.trendingImg {
    width: 100%; 
    height: 90px !important;
    object-fit: cover;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 5%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    cursor: pointer;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }

  .trendingImg:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    transform: scale(1.01);
  }
  

  .activeCarousel {
    /* opacity: 1; */
    pointer-events: all;
  }

  .carouselScrollable {
    overflow: hidden;
  }

  @media (max-width: 992px) {


    .carouselScrollable {
        overflow-x: scroll;
      }
      .carouselScrollable::-webkit-scrollbar {
        display: none;
      }

      .trendingImg {
        width: 200px;
      }

      .carouselNavBtn {
        display: none;
      }

      
/* .trendingItem img {
   width: 400px !important;
} */
  }